body{
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, georgia, "times new roman", times, serif;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

table{
  text-align: center;
}

#header{
  text-align: center;
}

#menu{
  text-align: center;
  border: solid 1px;
  font-weight: bold;
  color: white;
}

#menu ul li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#footer{
  text-align: center;
}
